<script type="text/template" id="contenedorWebList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Name</th>
                 <th>Descripcion</th>
                 <th>Puertos</th>
		 <th>Servidor</th>
		 <th>Url</th>
		 <th>Fecha Vencimiento</th>
		 <th>Proposito</th>
		 <th>Fecha Creacion</th>
		 <th>Destruido</th>
		 <th>Caracteristicas</th>
                 <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(contenedorWebs, function(contenedorWeb) { %>
    <tr>
		<td><%= htmlEncode(contenedorWeb.getDisplay('name')) %></td>
                <td><%= htmlEncode(contenedorWeb.getDisplay('descripcion')) %></td>
                <td><%= htmlEncode(contenedorWeb.getDisplay('puertos')) %></td>
		<td><%= htmlEncode(contenedorWeb.getDisplay('servidor')) %></td>
		<td><%= htmlEncode(contenedorWeb.getDisplay('url')) %></td>
		<td><%= htmlEncode(contenedorWeb.getDisplay('fechaVencimiento')) %></td>
		<td><%= htmlEncode(contenedorWeb.getDisplay('proposito')) %></td>
		<td><%= htmlEncode(contenedorWeb.getDisplay('fechaCreacion')) %></td>
		<td><%= htmlEncode(contenedorWeb.getDisplay('destruido')) %></td>
		<td><%= htmlEncode(contenedorWeb.getDisplay('caracteristicas')) %></td>
    <td>
    <div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Acciones
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver informaci&oacute;n</a></li>
    <li role="presentation" class="divider"></li>
    <% if(showEdit) {%>
    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-edit',{id:<%= contenedorWeb.id %>}); return false" >Editar</a></li>
    <% } %>
    <% if(showDelete) {%>
    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-delete',{id:<%= contenedorWeb.id %>}); return false" >Eliminar</a></li>
    <% } %> 
  </ul>
</div>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="contenedorWeb">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-contenedorWebForm">
    <% if(contenedorWeb.id) {%>
    <input type="hidden" name="id" value="<%= contenedorWeb.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= contenedorWeb.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="descripcion">Descripcion</label>
    	<textarea class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= contenedorWeb.get('descripcion') %>" cols="30" rows="4"/>	
		</div>
                <div class="form-group" >
		<label for="puertos">Puertos</label>
    	<input type="text" class="form-control" id="puertos" name="puertos" placeholder="Enter value" value="<%= contenedorWeb.get('puertos') %>"/>	
		</div>
		<div class="form-group" >
		<label for="servidor">Servidor</label>
    	<input type="text" class="form-control" id="servidor" name="servidor" placeholder="Enter value" value="<%= contenedorWeb.get('servidor') %>"/>	
		</div>
		<div class="form-group" >
		<label for="url">Url</label>
    	<input type="text" class="form-control" id="url" name="url" placeholder="Enter value" value="<%= contenedorWeb.get('url') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaVencimiento">Fecha Vencimiento</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVencimiento"  name="fechaVencimiento" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaVencimiento').datepicker({autoclose:true});
        	$('#fechaVencimiento').datepicker('setDate',App.Utils.Converter.date.toDate("<%= contenedorWeb.get('fechaVencimiento') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="proposito">Proposito</label>
    	<input type="text" class="form-control" id="proposito" name="proposito" placeholder="Enter value" value="<%= contenedorWeb.get('proposito') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaCreacion">Fecha Creacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaCreacion').datepicker({autoclose:true});
        	$('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= contenedorWeb.get('fechaCreacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="destruido" name="destruido" value="true" type="checkbox" <%= contenedorWeb.get('destruido')?'checked':'' %>> Destruido
    	</label>
		</div>
		<div class="form-group" >
		<label for="caracteristicas">Caracteristicas</label>
    	<input type="text" class="form-control" id="caracteristicas" name="caracteristicas" placeholder="Enter value" value="<%= contenedorWeb.get('caracteristicas') %>"/>	
		</div>
    </form>
    </div>
</script> 